/* .largef {
  font-size: large;
}

.smallf {
  font-size: small;
} */

/* #sbutton {
  background-color: black;
  color: aliceblue;
  padding: 0.5rem;
  border: 0.2rem solid red;
  border-radius: 0.5rem;
}
#sbutton:hover {
  background-color: red;
} */

/* .box {
  height: 10rem;
  width: 20rem;
  background-color: orange;
  border: 0.2rem solid black;
  margin: 0.2rem;
} */
